@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- show the message -->
                    <div id="responseMessage" style="margin-top: 15px;"></div>
                    <h4 class="card-title">Deatails Add</h4>
                    <p class="card-description"> Table</p>
                    <form class="forms-sample" id="myform">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="category" placeholder="category">
                                <span class="text-danger" id="validation"> </span>
                            </div>
                        </div>
                        <input type="hidden" name="verify" value="true">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button type="submit" class="btn btn-success mr-2">View</button>
                        <button class="btn btn-dark">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>